.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler {
    border: 1px solid white;
}

a:hover {
    color: #EF626C !important;
}

button:hover {
    color: #22181C !important;
}

footer a {
    color: #F6E8EA;
}

#footer-category {
    color: #F6E8EA;
}

footer,
nav {
    background-color: #22181C !important;
}

li.icons-link li {
    display: inline-block !important;
}

@media screen and (max-width: 992px) {
    ul.navbar-nav>li.col-lg-2>a.nav-link.text-start.text-white {
        text-align: center !important;
    }
    ul.navbar-nav>li.col-lg-2>a.nav-link.text-white {
        text-align: center !important;
    }
    /*
        li.icons-link li{
        display: inline-block !important;
    }
    */
}