.btn.text-uppercase,
#insertButton {
    background-color: #EF626C;
    color: #22181C;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 600;
    border-color: #22181C;
    padding: 4px 10px !important;
}

.btn-logout:hover,
.btn.text-uppercase:hover,
#insertButton:hover {
    color: #22181C !important;
}

#registrationForm,
#login,
#summary {
    background-color: #F6E8EA !important;
    color: #22181C !important;
}

li {
    color: #22181C !important;
}

a {
    color: #22181C;
    justify-content: flex-start;
}

#container-summary,
#container-login {
    display: flex;
    min-height: 65vh;
    flex-direction: column;
    justify-content: flex-start;
}

#error {
    color: red;
}