div.accordion-header{
    border: medium solid black;

}
h3{
    color:black;
}
.accordion-button:hover{
    background-color:rgb(185, 40, 40) !important;
    color:black !important;
}

.accordion-button:not(.collapsed){
 color:inherit;
  background-color: inherit !important;
}

.accordion-button:focus{
  box-shadow: inherit !important;
}
[class="accordion-button"]{
    background-color:rgb(185, 40, 40) !important;
}

img {
  object-fit: contain;
  /*width: 150px;
  height: 200px;*/
  width: 1%;
  display: flex;
  align-items: center;
  justify-content: center
}

p.h4 {
  font-family: 'Roboto Slab', serif
}

p {
  align-self: left;
  color: rgb(0, 0, 0);
  font-size: 1pz;
  font-family: 'Roboto Slab', serif;
  margin-left: 10px;
}

p.h3.text-decoration-none {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}



.btn {
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 1px 10px
}



.card {
  background-color: transparent;
  /*width: 200px;
  height: 200px;*/
  perspective: 1000px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0px;
  overflow-wrap: break-word;
  background-clip: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.125);
  border-image: initia
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;

}


.card img {
  
  width: 100%;
  height: 1%;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  right: 0;
}

.accordion-button{
  padding-left: 0;
}


.row>* {
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x)/ 2);
  padding-left: calc(var(--bs-gutter-x)/ 2);
  margin-top: var(--bs-gutter-y);
}

body,
ul,
li,
p,
a,
label,
input,
div {
  font-family: Roboto, sans-serif;
  font-size: 18px !important;
  font-weight: 300 !important;
}

*,
::after,
::before {
  box-sizing: border-box;
}

div {
  display: block;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
}

@media(max-width:800px) {
  .wrapper {
      margin: 20px 10px
  }
  p.h4 {
      font-size: 1.35rem;
      padding-top: 10px
  }
}

@media(max-width:767px) {
  .wrapper {
      max-width: 500px;
      margin: 20px auto
  }
}

@media(max-width:424px) {
  .wrapper {
      width: 100%;
      margin: auto
  }
  div.text-muted {
      font-size: 0.75rem
  }
}