div.accordion-header{
    border: medium solid black;

}
.accordion-button:hover{
    background-color:rgb(185, 40, 40) !important;
}
[class="accordion-button"]{
    background-color:rgb(185, 40, 40) !important;
}