div.accordion-header {
    border: medium solid black;
}

h3 {
    color: black;
}

.accordion-button:hover {
    background-color: rgb(203, 203, 203) !important;
    color: black !important;
}

.accordion-button:not(.collapsed) {
    color: inherit;
    background-color: inherit !important;
}

.accordion-button:focus {
    box-shadow: inherit !important;
}

[class="accordion-button"] {
    background-color: rgb(203, 203, 203) !important;
}

img {
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center
}

.h4 {
    font-family: 'Roboto Slab', serif;
    margin: 0px;
}

div.card-body {
    padding-right: 3px !important;
}

p.h3.text-decoration-none {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
}

.btn {
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 4px 10px !important;
}

.card {
    background-color: transparent;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0px;
    overflow-wrap: break-word;
    background-clip: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-image: initia
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

div {
    display: block;
}