.nav-tabs button{
    color: black !important; /* text color of tabs*/
}

.container{
    border-style: dashed;
}


.accordion-button:hover{
    background-color:inherit !important;
    color:black !important;
}

.accordion-button:not(.collapsed){
    color:inherit;
    background-color: inherit !important;
}

.accordion-button:focus{
    box-shadow: inherit !important;
}

/*
div.tab-content .container {
    border: 2px solid grey;
    margin-top: 10px;
    border-radius: 15px;
}

div.tab-content .container>.row:nth-child(1){
    border-bottom: 2px solid grey;
    margin-right: 0px !important;
    margin-left: 0px !important;
}



button[id^="dropdownStatusTab"].btn.btn-secondary.dropdown-toggle{
    background-color:black;
    border-color: black;
}
.btn-secondary:focus{
    box-shadow: none;
}

.dropdown-item.active {
    color: #fff;
    text-decoration: none;
    background-color: black;
}

h2.h2.text-black{
    font-weight: bold !important;
}

.container>div.col-4.col-md-4.p-0 div:first-child,.ordered-number,.ordered-on,.state {
    font-weight: bold !important; 
}



*/