.nav-tabs button{
    color: black !important; /* text color of tabs*/
}
/*
div.tab-pane>div div {
    border-style: solid;
    margin-bottom: 10px;
}*/

div.tab-content .container {
    border: 2px solid grey;
    margin-top: 10px;
    border-radius: 15px;
}

div.tab-content .container>.row:nth-child(1){
    border-bottom: 2px solid grey;
    margin-right: 0px !important;
    margin-left: 0px !important;
}


.accordion-button:hover{
    background-color:inherit !important;
    color:black !important;
}

.accordion-button:not(.collapsed){
    color:inherit;
    background-color: inherit !important;
}

.accordion-button:focus{
    box-shadow: inherit !important;
}



/*
div.tab-content{
    background-color: red !important;
}*/
/*
body.bg-white{
    background-color: red !important;
}*/